/* This stylesheet is used to style the public-facing components of the plugin. */

.form-table label {
  vertical-align: top;
  margin-right: 10px;
  font-weight: bold;
}

#tap-cookie-table {
  margin: 0px;
  padding: 0px;
}

#tap-cookie-table th {
  text-align: left;
}

#tap-cookie-table th,
#tap-cookie-table td {
  padding: 10px;
  font-size: 15px;
}